astroid==2.1.0
autopep8==1.4.3
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
idna==2.8
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
pafy==0.5.4
pycodestyle==2.4.0
pylint==2.2.2
requests==2.21.0
six==1.12.0
typed-ast==1.3.0
urllib3==1.24.1
wrapt==1.11.1
youtube-dl==2019.1.30.1
